@use "../../assets/styles/variables" as *;

.counter {
    border: 3px solid $primary-color;
    margin: 20px;
    text-align: center;
    font-size: 25px;   
    height: 100px;
    padding-top: 10px;

    &__buttons {
        display: flex;
        justify-content: space-evenly;
    }

    &__buttons:hover {
        cursor: pointer;
    }

    &__button {
        height: 40px;
        width: 40px;
        border-radius: 12px;
        font-size: xx-large;
        text-align: center;
        background-color: lightgray;
    }
}
