.ticket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
}