@use "./assets/styles/variables" as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    text-align: center;
    background-color: $primary-color;
    height: 100vh;
    padding: 20px;
}

.employee-tickets{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // height: 100%;
}

.ticket-header {
    color: $secondary-color;
}