@use "./assets/styles/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    text-align: center;
    background-color: $primary-color;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.employee-tickets {
    overflow:visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;

}

.ticket-header {
    color: $secondary-color;
    padding-bottom: 30px;
}